.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    /*//i can without grid-template-areas:
      "h h"
      "n c"  as in App.css */
}

.dialogItems {
    padding: 10px;
}

.dialogItems .active {
    color: gold;
}

.messages {
    padding: 10px;

}

.messages .message {

}

.dialogItems .active {
    color: gold;
}